<!DOCTYPE html>
<html lang="en-gb" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> PolyStocks </title>

    <meta name="description" content="This is a website where you can 
    find stock photos for free from all over the internet">
    <meta name="author" content="Ian Bunn , Rebeca Dodero, Eduardo Medina & Emma Muniz ">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- **Favicon** -->
    <link href="./images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="./style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="./css/shortcodes.css" rel="stylesheet" media="all" />
    <link href="./css/responsive.css" rel="stylesheet" media="all" />

    <!-- **Additional stylesheets** -->
    <link href="./css/isotope.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/animations.css" rel="stylesheet" media="all" />

    <!-- **Skin stylesheet** -->
    <link id="skin-css" href="./skins/polystocks/style.css" rel="stylesheet" media="all" />

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <!-- **Pace** -->
    <link rel="stylesheet" href="./css/pace-theme-big-counter.css" />

    <script src="./js/modernizr-2.6.2.min.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>
