
<div id="loader-wrapper">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="top"> Patience is not simply the ability to wait - it's how we behave while we're waiting -
                <span> Joyce Meyer </span> </h1>
            <h1> Don't go back to less,just because you are to impatient to wait for the rest - <span> Kacy Lynn </span>
            </h1>
        </div>
    </div>





<div class="wrapper">
                <div class="inner-wrapper type-1">
        
                    <!--Header Starts Here-->
                    <header id="header" class="dt-sticky-menu">
                        <div id="menu-container">
                            <div class="container">
                                <div id="logo">
                                    <!-- <a href="index.html"> Poly<span> Stocks</span> </a> -->
                                    <img src="./images/polystocksLogo-color.png" height="60" width="200">
        
                                </div>
        
                                <nav id="main-menu">
                                    <div id="dt-menu-toggle" class="dt-menu-toggle">
                                        Menu
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <ul id="menu">
                                        <li class="current_page_item"><a href="#home">Home</a> </li>
                                        <li><a href="#team">Team</a> </li>
                                        <!-- <li><a href="#contact">Contact</a> </li>   -->
                                        <li><a href="#">Login</a> </li>
                                        <li class="dt-sc-button small type2"><a href="#team">Join</a> </li>
        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </header>

        <div class="dt-sc-hr-invisible-toosmall"></div>
        <h3 class="sub-title alignleft"> My Folders </h3> 
        <a href="#" class="dt-sc-toggle"> Category 1 </a>
        <div class="dt-sc-toggle-content">
            <div class="block">
                <div class="images">
                    <a class="comment" ></a>
                    <p>Your pictures will appear her for this Category.</p>
            </div>
        </div>



        <a href="#" class="dt-sc-toggle">Category 2</a>
        <div class="dt-sc-toggle-content">
            <div class="block">
            <p>Your pictures will appear her for this Category.</p>
            </div>
        </div>
        <a href="#" class="dt-sc-toggle">Category 3</a>
        <div class="dt-sc-toggle-content">
            <div class="block">
            <p> Your pictures will appear her for this Category.</p>
            </div>
        </div>
    </div>




    {{!-- <!--Workds Starts Here-->
    <section id="works" class="content">
            <div class="dt-sc-sorting-container">
             
            </div>
            <div class="dt-sc-portfolio-container animate" data-animation="fadeIn" data-delay="100">
                <div class="dt-sc-portfolio indoor games width3">
                    <figure>
                        <img src="http://placehold.it/800x400&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">World is Ours</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x400&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="World is Ours"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio outdoor indoor width1">
                    <figure>
                        <img src="http://placehold.it/800x1276&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Love the Life</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x1276&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Love the Life"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio portraits landscapes width4">
                    <figure>
                        <img src="http://placehold.it/800x582&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Live, Let Live</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x582&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Live, Let Live"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio outdoor portraits width3 adjust">
                    <figure>
                        <img src="http://placehold.it/800x800&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Reach for the stars</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x800&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Reach for the stars"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio indoor games width3">
                    <figure>
                        <img src="http://placehold.it/800x400&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Begin With a Smile</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x400&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Begin With a Smile"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio outdoor landscapes width5">
                    <figure>
                        <img src="http://placehold.it/800x400&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Life is a Race</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x400&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Life is a Race"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio games landscapes width1">
                    <figure>
                        <img src="http://placehold.it/800x1276&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">An Adventure</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x1276&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="An Adventure"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio indoor width2">
                    <figure>
                        <img src="http://placehold.it/800x582&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Live and Let Live</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x582&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Live and Let Live"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio outdoor portraits width2">
                    <figure>
                        <img src="http://placehold.it/800x582&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Love conquers all</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x582&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Love conquers all"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="dt-sc-portfolio games landscapes width4 adjust">
                    <figure>
                        <img src="http://placehold.it/800x291&text=Portfolio+Image" alt="" title="">
                        <figcaption>
                            <div class="fig-overlay">
                                <h6><a href="portfolio-detail.html">Dream Your Life</a></h6>
                                <div class="external-icons">
                                    <a class="zoom" href="http://placehold.it/800x291&text=Portfolio+Image"
                                        data-gal="prettyPhoto[gallery]" title="Love conquers all"> <span class="fa fa-search-plus">
                                        </span> </a>
                                    <a class="like" href="#"> <span class="fa fa-heart"> </span> </a>
                                    <a class="comment" href="portfolio-detail.html"> <span class="fa fa-comment">
                                        </span> </a>
                                    <a class="view" href="portfolio-detail.html"> <span class="fa fa-external-link">
                                        </span> </a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div> --}}

   
        

    {{!-- <li class="middle-content">
            <div class="team-details empty-text">
                <h3> Exploration </h3>
            </div>
        </li>



    </ul>
        </div>
            <div class="dt-sc-hr-invisible"> </div>

            <div class="dt-sc-hr-invisible"> </div> --}}
</section>

    
    <div class="dt-sc-copyrights">
            <div class="container">
                <p> &copy; 2019. All Rights reserved by <a href="#"> PolyStocks </a> </p>
                {{!-- <div class="dt-sc-social-icons">
                    <a href="#" class="facebook"> <i class="fa fa-facebook"></i> </a>
                    <a href="#" class="google"> <i class="fa fa-google-plus"></i> </a>
                    <a href="#" class="twitter"> <i class="fa fa-twitter"></i> </a>
                    <a href="#" class="dribbble"> <i class="fa fa-dribbble"></i> </a>
                </div> --}}
            </div>
        </div>
    </div>
    <!--Main Content Ends Here-->
</div>
</div>